$primary-color: #757e85;
$bg-input: #e2e6ea;
$text-hover: #71b6f9;

// header
.header {
  width: 100vw;
  height: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      .admin {
        display: flex;
        .image {
          background: #fff;
          width: 25vw;
          padding: 15px;
          text-align: center;
          img {
            display: inline;
            height: 16px;
            margin: 0 auto;
          }
        }
        h2 {
          padding: 10px 0;
          margin-left: 5px;
          font-size: 20px;
        }
      }
      .display-mb {
        display: none;
      }
    }
    .right {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      .icon {
        margin: 0 12px;
        height: 30px;
      }
      .search {
        display: flex;
        position: relative;
        input {
          position: absolute;
          right: 0%;
          top: 0;
          padding: 7px 15px;
          background: $bg-input;
          border: none;
          border-radius: 30px;
          outline: none;
        }
        .icon {
          z-index: 11;
        }
      }
      .admin {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          border-radius: 50%;
          height: 26px;
          width: 26px;
        }
        h4 {
          margin-left: 5px;
        }
        .icon {
          margin: 0;
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  background: #fff;
  width: 25vw;
  margin-top: -4px;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  .content {
    padding: 30px 0;
    .content-top {
      text-align: center;
      .image {
        margin: 10px 0;
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }
      }
      .icons {
        margin: 10px 0;
        .icon {
          font-size: 16px;
          margin: 0 5px;
        }
      }
    }
    .content-bottom {
      .title {
        padding: 20px;
        h5 {
          margin: 15px 0;
          font-weight: normal;
          text-transform: uppercase;
        }
        .item {
          margin: 5px 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          .icon {
            margin-right: 10px;
          }
          &:hover {
            .icon,
            p {
              color: $text-hover;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .container {
      .left {
        .admin {
          display: none;
        }
        .display-mb {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .logo {
            margin: 0 2px;
            padding: 10px 0;
            img {
              width: 30px;
              height: 30px;
            }
          }
          .icon {
            width: 100%;
            height: 30px;
          }
        }
      }
      .right {
        .search {
          input {
            display: none;
          }
          .icon {
            margin: 0;
          }
        }
        .admin {
          h4,
          .icon {
            display: none;
          }
        }
      }
    }
  }
}
