$primary-color: #757e85;
$bg-input: #e2e6ea;
$text-hover: #71b6f9;
$border-color: #dee2e6;
$link-color: #6e768e;

// header
.header {
  width: 100vw;
  height: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      .admin {
        display: flex;
        .image {
          background: #fff;
          width: 25vw;
          padding: 26px;
          text-align: center;
          img {
            display: inline;
            height: 16px;
            margin: 0 auto;
          }
        }
        h4 {
          padding: 0 24px;
          margin: 0;
          line-height: 70px;
        }
      }
      .display-mb {
        display: none;
      }
    }
    .right {
      padding-left: 0;
      padding-right: 5px;
      display: flex;
      justify-content: space-between;
      .icon {
        margin: 17px 20px;
        height: 30px;
      }
      .search {
        display: flex;
        position: relative;
        input {
          position: absolute;
          top: 14px;
          right: 0;
          height: 38px;
          padding-left: 20px;
          padding-right: 0;
          background: $bg-input;
          border: none;
          border-radius: 30px;
          outline: none;
        }
        .icon {
          z-index: 11;
          position: absolute;
          right: 0;
        }
      }
      .admin {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          border-radius: 50%;
          height: 26px;
          width: 26px;
        }
        h4 {
          margin-left: 5px;
          font-size: 14px;
        }
        .icon {
          margin: 0;
        }
      }
    }
  }
}

// Sidebar
.sidebar {
  background: #fff;
  width: 25vw;
  margin-top: -4px;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  .content {
    padding: 30px 0;
    .content-top {
      text-align: center;
      .image {
        margin: 10px 0;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
        }
        .thumbnail {
          padding: 0.25rem;
          border: 1px solid $border-color;
        }
      }
      .icons {
        margin: 10px 0;
        .icon {
          font-size: 16px;
          margin: 0 5px;
        }
      }
    }
    .content-bottom {
      margin-top: 20px;
      margin-bottom: 50px;
      .title {
        h5 {
          padding: 10px 20px;
          letter-spacing: 0.05em;
          font-weight: 500 !important;
          color: $link-color;
          pointer-events: none;
          font-weight: normal;
          font-size: 0.8rem;
          text-transform: uppercase;
        }
        .item {
          padding: 12px 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: $link-color;
          cursor: pointer;

          .icon {
            font-size: 16px;
            margin-right: 10px;
          }

          &:hover {
            .icon,
            p {
              color: $text-hover;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .container {
      .left {
        .admin {
          display: none;
        }
        .display-mb {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 3px 23px;
          position: relative;
          .logo {
            margin: 0 2px;
            padding: 10px 0;
            img {
              width: 30px;
              height: 30px;
            }
          }
          .icon {
            width: 100%;
            height: 30px;
          }
          .sidebar {
            z-index: 111;
            display: block;
            position: absolute;
            top: 60px;
            left: -23px;
            width: 250px;
            .icon {
              width: unset;
              height: 16px;
            }
          }
        }
      }
      .right {
        .search {
          input {
            display: none;
          }
          .icon {
            margin: 18px -6px;
          }
        }
        .admin {
          h4,
          .icon {
            display: none;
          }
        }
      }
    }
  }
  .sidebar {
    display: none;
  }
}
