* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebeff2;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #111;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  max-width: 95%;
  margin: auto;
}

.icon {
  cursor: pointer;
  color: #757e85;
}
